body{
    background-image: url('2bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
    font-family: "Sankofa Display", sans-serif;
	font-weight: 400;
 	font-style: normal;
 	font-weight: bold; 
}
#main{
    margin-top: -2%;
}
#umhead{
    margin-left: 43%;
}
h1{
    font-size: 50px;
    color: rgb(245, 227, 66);
}
#umimg{
    display:flex;
    margin-left: 5%;
    margin-top:-4%;
}
#deck1{
    width:100px;
}
#deck2{
    width:100px;
    margin-left: -7%;
}
#deck3{
    width:100px;
    margin-left: -7%;
}
#dmsub1{
    display: flex;
    justify-content: center;
    margin-left: -1%;
    margin-top: -5%;
}
#d1{
    width: 100px;
}
#d2{
    width: 100px;
    margin-left: -5%;
    border-radius: 10px;
}
#p1{
    width: 100px;
    margin-left: 20%;
    margin-top: 6%;
}
#leave1{
    width:100px;
    height:35px;
    border: none;
    border-radius: 50px;
    margin-left: 5%;
    background-color: black;
	color: white;
	font-family: "Sankofa Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10%;
}
#leave1:hover{
    border: solid 6px;
    background-color: white;
    color: green;
}
#name1{
    margin-left: 5%;
    margin-top:0px;
    font-size: 30px;
    color: rgb(245, 227, 66);
}
#p2{
    width: 100px;
    margin-left: 75%;
    margin-top: -16%;
}
#leave2{
    width:95px;
    height:35px;
    border-radius: 50px;
    margin-left: 5%;background-color: black;
	color: white;
	font-family: "Sankofa Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 10%;
}
#leave2:hover{
    border: solid 6px;
    background-color: white;
    color: green;
}
#name2{
    margin-left: 5%;
       margin-top:0px;
    font-size: 30px;
    color: rgb(245, 227, 66);
}
#p3{
    width: 100px;
    margin-left: 48%;
    margin-top: -4%;
   
}
#leave3{
    width:95px;
    height:35px;
    border-radius: 50px;
    margin-left: 5%;background-color: black;
	color: white;
	font-family: "Sankofa Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 10%;
}
#leave3:hover{
    border: solid 6px;
    background-color: white;
    color: green;
}
#name3{
    margin-left: 5%;
       margin-top:0px;
    font-size: 30px;
    color: rgb(245, 227, 66);
}